<%= render 'shared/page_title', title: "Listing all Recipes" %>

<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
    <ul class=”pagination”>
        <li class="disabled"> 
            <%= will_paginate(@recipes, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
        </li>
    </ul>
</div>

<%= render 'recipe', obj: @recipes %>

<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
    <ul class=”pagination”>
        <li class="disabled"> 
            <%= will_paginate(@recipes, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
        </li>
    </ul>
</div>