<div class="jumbotron center">
    <h1> Welcome to My Recepies App.</h1>
    <h2>The best recepies sharing app!</h2>
    <p>
        <%= link_to "Signup for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    </p>
</div>

<%= render 'center' %>